<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>BookEnds</title>
  </head>

  <body>
    <div id=''>
      <header class='nav-bar'>
        <h1>
          {{#if logged_in}}
            <a href='/home'>BookEnds</a>
          {{else}}
            <a href='/'>BookEnds</a>
          {{/if}}
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/home'>home</a>

            <a href='/profile'>profile</a>

            <button class='' id='logout'>logout</button>
          {{else}}
            <a href='/login'>Login or Sign-up</a>
          {{/if}}
        </nav>
      </header>
      <main class=''>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

<style>
    .nav-bar {

    background-color:rgba(10, 10, 10, 0.813);
    background-size: cover;
    width: 100%;
    height: 15%;
    margin: 0;
    shadow
    }

  #nav-bar{
    font-family: Arial, sans-serif;
    font-color:rgba(15, 80, 50, 0.813);
  }

    </style>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>